**/.obj
**/*.o
d00/ex00/megaphone
d00/ex01/phonebook
d01/ex00/pony
d01/ex02/zombie
d01/ex04/ex04
d02/ex00/fixed
d02/ex01/fixed
d02/ex02/fixed
d03/ex00/fragtrap
d03/ex01/scavtrap
d03/ex02/claptrap
d03/ex03/ninjatrap
d04/ex00/sorcerer
d05/ex00/bureaucrat
d05/ex01/form
d05/ex02/Fraise_shrubbery
d05/ex02/forms
d05/ex03/JCVD_shrubbery
d05/ex03/intern
d07/ex00/whatever
d07/ex01/iter
d07/ex02/array
d08/ex00/easyfind
d08/ex01/span
d08/ex02/mutantstack
example/example
